<input type="hidden"  name="id" value="<%=user.id%>"/>
<p><strong>Email</strong></p>
<p><input type="text" class="form-control" id="emailid" name="emailid" value="<%=user.emailid%>"/></p>
<div class="inlinerow"><div class="alert alertmsg alert-danger" role="alert" id="emailid_error" style="display:none"></div></div> 
<p><strong>First Name</strong></p>
<p><input type="text" class="form-control" id="first_name" name="first_name" value="<%=user.first_name%>"/></p>
<div class="inlinerow"><div class="alert alertmsg alert-danger" role="alert" id="first_name_error" style="display:none"></div></div>
<p><strong>Last Name</strong></p>
<p><input type="text" class="form-control" id="last_name" name="last_name" value="<%=user.last_name%>"/></p>
<div class="inlinerow"><div class="alert alertmsg alert-danger" role="alert" id="last_name_error" style="display:none"></div></div>
<p><strong>Mobile No</strong></p>
<p><input type="text" class="form-control" id="mobile_no" name="mobile_no" value="<%=user.mobile_no%>"/></p>
<div class="inlinerow"><div class="alert alertmsg alert-danger" role="alert" id="mobile_no_error" style="display:none"></div></div>
